<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Mi empresas SA
            {% endblock %}
        </title>

        {% block stylesheet %}
            <link rel="stylesheet" media="screen" href=" {{ asset('public/css/utilities/bootstrap.min.css') }} " >
            <link rel="stylesheet" media="screen" href=" {{ asset('public/css/main.min.css') }} " >
        {% endblock %}

        {% block javascript %}
            <script src="{{ asset('public/js/utilities/jquery-1.12.1.min.js') }}"></script>
            <script src="{{ asset('public/js/utilities/bootstrap.min.js') }}"></script>
        {% endblock %}

    </head>
    <body>
        <div class="container">

            {% include 'header.html.twig' %}

            <h1 id="lb_section_title">
                {% block section_title %}

                {% endblock %}
            </h1>

            {% block body %}

            {% endblock %}    

            {% include 'footer.html.twig' %}
        </div>
    </body>
</html>
